body {
    background-color: darkcyan;
}

div {
    background-color: rgb(169, 255, 169);
    border: 2px solid rgb(14, 163, 26);
}

.id-container {
    height: 750px;
}

h1, h2 {
    text-align: center;
    color: rgb(80, 80, 80);
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    padding-left: 2%;
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

iframe {
    height: 100%;
    width: 100%;
    border: none;
}
